
.expanding-grid {
  position: relative;
  left:15%;
  width:70%;
}

.expanding-grid .links {
  display: block;
  margin: 0 -1em;
  overflow: hidden;
  padding: 1em 0;
}

.expanding-grid .links > li {
  box-sizing: border-box;
  float: left;
  padding: 1em;
  list-style-type: none;
}

.expanding-grid .links > li a {
  background: #fff;
  color: #1d1d1d;
  display: block;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  font-size: 18px;
  line-height: 1;
  padding: 25% 1em;
  position: relative;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-bottom: 3px solid rgba(63, 74, 82, 0);
}

.expanding-grid .links > li a:hover {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
}

.expanding-grid .links > li a.active {
  margin-top: 0;
  border-bottom: 3px solid rgb(5, 94, 160);
}

.expanding-grid .links > li a.active:after {
  background-color: transparent;
  border-bottom: 0.75em solid rgb(5, 94, 160);
  border-left: 0.75em solid transparent;
  border-right: 0.75em solid transparent;
  bottom: -1.1em;
  content: '';
  height: 0;
  left: 50%;
  margin-left: -0.375em;
  position: absolute;
  width: 0;
}
.expanding-grid .links > li {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .expanding-grid .links > li {
    width: 100%;
  }
}
@media only screen and (min-width: 900px) {
  .expanding-grid .links > li {
    width: 50%;

  }
}


.expanding-grid .spacer {
  background-color: #888;
  clear: both;
  display: block;
  margin: 0 1em;
}

.expanding-grid .expanding-container {
  clear: both;
  display: none;
  overflow: hidden;
  width: 100%;
}

.expanding-grid .expanding-container.expanded,
.expanding-grid .expanding-container:target {
  display: block;
}

.expanding-grid .hentry {
  background: rgb(5, 94, 160);
  box-sizing: border-box;
  clear: both;
  color: #fff;
  min-height: 4em;
  overflow: hidden;
  padding: 2em;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.expanding-grid .hentry .entry-image {
  box-sizing: border-box;
  float: right;
  margin-left: 1em;
  padding: 0.25em 0 0.52em 1em;
  text-align: center;
  width: 50%;
}

.expanding-grid .hentry .entry-title {
  font-size: 1.5em;
}

.expanding-grid .close-button {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj48cGF0aCBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNLjcuN2wxOCAxOG0tMTggMGwxOC0xOCIvPjwvc3ZnPg==) no-repeat scroll 50% 50% transparent;
  color: #fff;
  display: inline-block;
  height: 20px;
  line-height: 1;
  overflow: hidden;
  padding: 1.5em 2em;
  text-decoration: none;
  text-indent: 5em;
  white-space: nowrap;
  width: 20px;
  will-change: opacity;
  z-index: 5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.expanding-grid .close-button.active {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.expanding-grid .close-button:hover {
  opacity: 0.7;
}